// Кнопки Primary
$btn-primary-white: #fff;
$btn-primary-default: #5233af;
$btn-primary-hover: #7e63d0;
$btn-primary-disabled: #5233af; // з прозорістю або сірий
$primary-bg: #2F2452; // з прозорістю або сірий

// Кнопки Secondary (Cancel)
$btn-secondary-default: #292935;
$btn-secondary-hover: #333345;
$btn-secondary-disabled: #292935;

// colors
$green-color: #0CD27C;
$green-bg: #30463C;

$orange-color: #E88433;
$orange-bg: #4A3B2F;

$blue-color: #0FCFDD;
$blue-bg: #1A495D;

$pink-color: #FE5ADA;
$pink-bg: #663362;

$red-color: #D2340C;
$red-bg: #562323;

$yelow-color: #C8C335;
$yelow-bg: #4E4619;

$light-grey-color: #8E8E8E;
$grey-color: #636363;
$grey-bg: #2a2a35;
