// Кнопки Primary
$btn-primary-white: #fff;
$btn-primary-green: #0cd27c;
$btn-primary-default: #5233af;
$btn-primary-hover: #7e63d0;
$btn-primary-disabled: #5233af; // з прозорістю або сірий

// Кнопки Secondary (Cancel)
$btn-secondary-default: #292935;
$btn-secondary-hover: #333345;
$btn-secondary-disabled: #292935;
