@import '../../../../../../styles/_variables';
.modes-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.empty-state {
  text-align: center;
}
.mode-item {
  background: $grey-bg;
  border-radius: 8px;
  padding: 5px 0px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.mods-grid-header {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding-left: 20px;
}

.mode-info {
  display: flex;
  align-items: center;
}

.mode-name {
  font-size: 16px;
  color: #fff;
}

.mode-details {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: $light-grey-color;
  strong {
    color: #fff;
    font-weight: 600;
  }
}
.act-actions-header {
  text-align: center;
}
.detail-part {
  display: flex;
  gap: 6px;
}
.grid-cell {
  text-align: center;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;

  &:hover {
    background-color: $grey-color;
  }

  .material-symbols-outlined,
  svg {
    font-size: 22px;
    width: 22px;
    height: 22px;
  }

  .material-symbols-outlined.red,
  svg.red {
    color: $red-color;
  }

  .material-symbols-outlined.color-green,
  svg.color-green {
    color: #4caf50;
  }

  .refresh {
    color: #fff;
    font-size: 34px;
    width: 34px;
    height: 34px;
  }
}

// Загальні стилі для клітинок
.grid-cell {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 20px;
}

// Розподіл ширини колонок
.act-name-header,
.mode-info {
  flex: 0 0 25%; // 25% ширини
  min-width: 150px;
}

.act-type-header,
.mod-acts-amount {
  flex: 0 0 15%; // 15% ширини
  min-width: 100px;
  justify-content: center;
}
.characters-amount,
.act-options-header {
  flex: 0 0 35%; // 35% ширини
  min-width: 200px;
  justify-content: flex-end;
}

.act-actions-header {
  flex: 0 0 10%; // 10% ширини
  min-width: 80px;
  justify-content: center;
}

.act-actions-cell {
  gap: 20px;
}
.mode-actions-cell {
  flex: 0 0 10%;
  min-width: 80px;
  justify-content: center;
}
// Стилі для вмісту клітинок
.act-name-content {
  display: flex;
  flex-direction: column;
}

.act-name-text {
  font-weight: 500;
  font-size: 15px;
}
