@import '../../../../styles/variables';

/* ===== CONTENT ===== */
.admin__content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 0;
}

.admin__title {
  font-size: 24px;
  span {
    opacity: 0.85;
  }
}

/* ===== TABS ===== */
.admin__tabs {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.admin__tab {
  min-width: calc(20% - 10px);
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: 1px solid $btn-primary-default;
  background: transparent;
  color: $primary-white;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;

  transition: all 0.2s ease;

  &:hover {
    border-color: $btn-primary-hover;
  }

  &--active {
    background: $btn-primary-default;
    border-color: transparent;
  }
}

/* ===== WORKSPACE ===== */
.admin__workspace {
  min-height: 600px;
  padding-top: 24px;
}
