<div
  [class.grid]="visibleCharacters().length > 0"
  class="character-grid"
>
  @for (c of visibleCharacters(); track c.id) {
    <button
      class="char"
      [class.dimmed]="hasSelection() && !isSelected(c)"
      [class.selected]="isSelected(c)"
      (click)="toggle(c)"
    >
      <img
        class="bg"
        [src]="c.rarity.bgUrl"
      />
      <img
        class="avatar"
        [src]="c.avatarUrl"
      />
      @if (c.element) {
        <img
          class="element"
          [src]="'/assets/images/ElementType_' + c.element.name + '.png'"
          [alt]="c.element.name"
        />
      }

      @if ((c.newIndex?.expiresAt ?? 0) > now) {
        <img
          class="new"
          src="assets/images/new.svg"
        />
      }
    </button>
  } @empty {
    <div class="empty-state">No characters to display by this filter.</div>
  }
</div>
