.grid {
  display: grid;
  grid-template-columns: repeat(15, 70px);
  gap: 12px;
}

.char {
  position: relative;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 10px;
  background: transparent;
  padding: 0;
  cursor: pointer;
  overflow: hidden; /* Щоб дочірні елементи не виходили за межі скруглення */

  &.dimmed {
    filter: brightness(40%);
  }
}

.bg,
.avatar {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Скруглення для фону та аватара */
  object-fit: cover; /* Щоб зображення правильно вписувались */
}

.element {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 4px; /* Легке скруглення для елемента */
}

.new {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 40px;
  height: 16px;
}


