.grid {
  display: grid;
  grid-template-columns: repeat(15, 70px);
  gap: 12px;
}

.char {
  position: relative;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 10px;
  background: transparent;
  padding: 0;
  cursor: pointer;
  overflow: hidden; /* Щоб дочірні елементи не виходили за межі скруглення */

  &.dimmed {
    filter: brightness(40%);
  }
  &:before {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 24.74%, rgba(0, 0, 0, 0) 50.48%);
    content: '';
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
  }
  &:hover {
    transform: scale(1.1) translateY(-4px);
    z-index: 20;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 0 30px rgba(140, 90, 255, 0.6);
    animation: float 3s infinite ease-in-out;
  }
}

@keyframes float {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
}
.bg {
  z-index: 1;
}
.bg,
.avatar {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Скруглення для фону та аватара */
  object-fit: cover; /* Щоб зображення правильно вписувались */
}
.avatar {
  z-index: 3;
}

.element {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 4;
  width: 16px;
  height: 16px;
  border-radius: 4px; /* Легке скруглення для елемента */
}

.new {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 40px;
  height: 16px;
  z-index: 6;
}

.empty-state {
  width: 100%;
}
