<section class="editor">
  <!-- HEADER -->
  <header class="editor__header">
    <h2 class="editor__header-title">Acts & Arcanas</h2>

    <div class="editor__actions">
      <button class="btn fs_24" (click)="openActModal()">
        Add Act
        <span class="material-symbols-outlined">swords</span>
      </button>

      <button class="btn fs_24" (click)="openModeModal()">
        Add Mode
        <span class="material-symbols-outlined">skull</span>
      </button>
    </div>
  </header>

  <!-- ACTS -->
  <app-acts-table [acts]="acts" [loading]="loading()" [error]="error" (deleteAct)="onDeleteAct($event)"
    (refresh)="loadActs()" (editAct)="onEditAct($event)" />

  <!-- MODES -->
  <h2 class="section-title">Modes</h2>
  <app-modes-table [modes]="modes" [loading]="loadingModes()" [error]="errorModes" (edit)="onEditMode($event)"
    (delete)="onDeleteMode($event)" />

  <!-- Модалка Add/Edit Act -->
  @if (showActModal()) {
  <app-act-modal [actToEdit]="editingAct()" (close)="closeActModal()" (saved)="loadActs()" />
  }

  <!-- Модалка Add Mode -->
  @if (showModeModal()) {
  <app-mode-modal [modeToEdit]="editingMode()" (close)="closeModeModal()" />
  }

  <!-- Модалка Confirm delete -->
  @if (showConfirmModal()) {
  <app-confirm-modal [title]="getConfirmTitle()" [message]="getConfirmMessage()" [confirmButtonText]="'Delete'"
    [cancelButtonText]="'Cancel'" [type]="'danger'" (confirm)="onConfirmDelete()" (close)="closeConfirmModal()" />
  }
</section>