.editor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-title {
    margin: 0;
  }
}
.editor__actions {
  min-width: 30%;
  display: flex;
  justify-content: space-between;
}
.btn {
  display: flex; /* ← головне! */
  align-items: center; /* вертикальне центрування */
  justify-content: center; /* горизонтальне центрування */
  gap: 8px; /* відстань між текстом і іконкою */
  background: none;
  padding: 12px 24px; /* за потребою */
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;

  // твої кольори
  color: white;
  border: none;

  &:hover {
    color: #7e63d0;
  }
}
