@use 'variables' as *;
.editor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-title {
    margin: 0;
  }
}
.editor__actions {
  min-width: 30%;
  display: flex;
  justify-content: space-between;
}
.btn {
  display: flex; /* ← головне! */
  align-items: center; /* вертикальне центрування */
  justify-content: center; /* горизонтальне центрування */
  gap: 8px; /* відстань між текстом і іконкою */
  background: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;

  // твої кольори
  color: white;
  border: none;

  &:hover {
    color: $btn-primary-hover;
  }
}

.editor-header_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  color: #fff;
  &:hover {
    transform: scale(1.2);
    color: $btn-primary-hover;
  }
}
