@use 'variables' as *;

.editor {
  color: $primary-white;
  &__header {
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
  }
}
.editor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editor__actions {
  min-width: 30%;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  color: $primary-white;
  background: none;
  &:hover {
    color: $btn-primary-hover;
  }

  &-secondary-disabled {
    background: $btn-secondary-disabled;
    color: $grey-color; // Greyed out text
    cursor: not-allowed;
    &:hover {
      color: $grey-color;
    }
  }
}
.no-groups-message {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
// Tabs
.categories-tabs {
  display: flex;
  gap: 8px 26px;
  margin-bottom: 24px;
  flex-wrap: wrap;

  .btn-wrap {
    display: flex;
    flex: 0 0 calc((100% - (26px * 4)) / 5);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    .tab-btn {
      width: 100%;
      background: transparent;
      border: 1px solid $btn-primary-default;
      color: $light-grey-color;
      cursor: pointer;
      height: 38px; /* або будь-яка висота, яка потрібна */
      border-radius: 10px;
      font-size: 14px;
      transition: all 0.2s ease;
      padding: 0 12px;
      text-overflow: ellipsis;

      /* Для центрування тексту */
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border-color: $btn-primary-hover;
        color: $primary-white;
      }

      &.active {
        background: $btn-primary-default;
        border-color: $btn-primary-default;
        color: $primary-white;
      }
    }

    .tab-btn-edit-category {
      position: absolute;
      right: 0px;
      border: none;
      background: none;
      cursor: pointer;
      top: 0px;
      height: 38px;
      width: 38px;
      &:hover {
        transform: scale(1.2);
        svg {
          color: $green-color;
        }
      }
    }
  }
}


.btn-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }

  .color-green {
    color: $green-color; // Or match exact green from requirements/image
  }
}

