<section class="editor">
  <!-- HEADER -->
  <header class="editor__header">
    <div class="editor-header_wrapper">
      <h2 class="editor__header-title">Task Tracker</h2>
    </div>

    <!-- Add Region -->
    <div class="editor__actions">
      <button class="btn fs_24" (click)="openAddRegionModal()">
        Add Region
        <span class="material-symbols-outlined">swords</span>
      </button>

      <!-- Add Task -->
      <button class="btn fs_24" [class.btn-secondary-disabled]="!canAddTask()"
        [class.btn-primary-default]="canAddTask()" [disabled]="!canAddTask()" (click)="openAddTasklModal()">
        Add Task
        <span class="material-symbols-outlined">add</span>
      </button>
    </div>
  </header>

  <!-- regions Tabs -->
  @if (hasRegions()) {
  <div class="categories-tabs">
    @for (region of regions(); track region.id) {
    <div class="btn-wrap">
      <button class="tab-btn" [class.active]="activeRegionId() === region.id" (click)="selectRegion(region.id)">
        {{ region.name }}
      </button>
      <button class="tab-btn-edit-category" (click)="onEditRegion(region.id)">
        <svg class="color-green" width="16" height="16" viewBox="0 0 14 14" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_211_38713" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="14"
            height="14">
            <rect width="14" height="14" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_211_38713)">
            <path
              d="M1.1665 13.9998V11.6665H12.8332V13.9998H1.1665ZM3.49984 9.33317H4.3165L8.8665 4.79775L8.03525 3.9665L3.49984 8.5165V9.33317ZM2.33317 10.4998V8.02067L8.8665 1.50192C8.97345 1.39498 9.09741 1.31234 9.23838 1.254C9.37935 1.19567 9.52762 1.1665 9.68317 1.1665C9.83873 1.1665 9.98942 1.19567 10.1353 1.254C10.2811 1.31234 10.4123 1.39984 10.529 1.5165L11.3311 2.33317C11.4478 2.44011 11.5328 2.5665 11.5863 2.71234C11.6398 2.85817 11.6665 3.00886 11.6665 3.16442C11.6665 3.31025 11.6398 3.45366 11.5863 3.59463C11.5328 3.7356 11.4478 3.86442 11.3311 3.98109L4.81234 10.4998H2.33317Z"
              fill="#0CD27C" />
          </g>
        </svg>
      </button>
    </div>
    }
  </div>
  }

  <!-- Modals -->
  @if (isEditorModalOpen()) {
  @if (editorModalType() === 'region') {
  <app-add-task-region-modal [regionToEdit]="editorModalData()" (save)="onSaveEditor($event)"
    (delete)="onDeleteFromModal()" (close)="isEditorModalOpen.set(false)">
  </app-add-task-region-modal>
  } @else {
  <app-add-task-modal [data]="editorModalData()" [categories]="regions()" [activeCategoryId]="activeRegionId()"
    (save)="onSaveEditor($event)" (delete)="onDeleteFromModal()" (close)="isEditorModalOpen.set(false)">
  </app-add-task-modal>
  }
  }

  @if (isConfirmModalOpen()) {
  <app-confirm-modal [title]="deletingItem()?.type === 'region' ? 'Delete Region' : 'Delete Task'"
    [message]="deletingItem()?.type === 'region' ? 'Are you sure you want to delete this region? All tasks in this region will also be deleted.' : 'Are you sure you want to delete this task?'"
    confirmButtonText="Delete" type="danger" (confirm)="onConfirmDelete()" (close)="isConfirmModalOpen.set(false)">
  </app-confirm-modal>
  }

  <!-- Tasks -->
  <app-task-table [adminMode]="true" [tasks]="tasks()" [loading]="isLoading()" [error]="error()"
    (edit)="onEditTask($event)" (delete)="onDeleteTask($event)">
  </app-task-table>
</section>