<section class="editor">
  <!-- HEADER -->
  <header class="editor__header">
    <div class="editor-header_wrapper">
      <h2 class="editor__header-title">Regions</h2>
    </div>
  </header>

  <!-- regions Tabs -->
  @if (hasRegions()) {
  <div class="categories-tabs">
    @for (region of regions(); track region.id) {
    <div class="btn-wrap">
      <button class="tab-btn" [class.active]="activeRegionId() === region.id" (click)="selectRegion(region.id)">
        {{ region.name }}
      </button>
    </div>
    }
  </div>
  }

  <!-- Tasks -->
  <app-task-table [tasks]="tasks()" [userMode]="true" [loading]="isLoading()" [error]="error()"
    [filterForm]="filterForm" (toggleTask)="onToggleTask($event)" (togglePart)="onTogglePart($event)">
  </app-task-table>
</section>