@use 'variables' as *;

.editor {
    color: $primary-white;
    &__actions {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: flex-end;
    }
}

.editor__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Tabs
.categories-tabs {
    display: flex;
    gap: 8px 26px;
    margin-bottom: 24px;
    flex-wrap: wrap;

    .btn-wrap {
        display: flex;
        flex: 0 0 calc((100% - (26px * 4)) / 5);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        position: relative;

        .tab-btn {
            width: 100%;
            background: transparent;
            border: 1px solid $btn-primary-default;
            color: $light-grey-color;
            cursor: pointer;
            height: 38px;
            /* або будь-яка висота, яка потрібна */
            border-radius: 10px;
            font-size: 14px;
            transition: all 0.2s ease;
            padding: 0 12px;
            text-overflow: ellipsis;

            /* Для центрування тексту */
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                border-color: $btn-primary-hover;
                color: $primary-white;
            }

            &.active {
                background: $btn-primary-default;
                border-color: $btn-primary-default;
                color: $primary-white;
            }
        }

        .tab-btn-edit-category {
            position: absolute;
            right: 0px;
            border: none;
            background: none;
            cursor: pointer;
            top: 0px;
            height: 38px;
            width: 38px;

            &:hover {
                transform: scale(1.2);

                svg {
                    color: $green-color;
                }
            }
        }
    }
}
