/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Genshin';
  src: url('/assets/fonts/zh-cn.ttf') format('truetype');
}

/* Глобально для всех элементов */
*,
*::before,
*::after {
  font-family: 'Genshin', sans-serif;
}

.fs {
  &_24 {
    font-size: 24px;
  }
  &_16 {
    font-size: 16px;
  }
  &_14 {
    font-size: 14px;
  }
  &_12 {
    font-size: 12px;
  }
}

.color {
  &-green {
    color: #0cd27c;
  }
}

/* Глобальні стилі для всіх інпутів типу number у додатку */
*[type='number']::-webkit-inner-spin-button,
*[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
.tac{
  margin: 0;
  text-align: center;
}
