@font-face {
  font-family: 'Genshin';
  src: url('/assets/fonts/zh-cn.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

/* Глобально */
*,
*::before,
*::after {
  font-family: 'Genshin', sans-serif;
}

.fs {
  &_24 {
    font-size: 24px;
  }

  &_16 {
    font-size: 16px;
  }

  &_14 {
    font-size: 14px;
  }

  &_12 {
    font-size: 12px;
  }
}

.color {
  &-green {
    color: #0cd27c;
  }
}

/* Глобальні стилі для всіх інпутів типу number у додатку */
*[type='number']::-webkit-inner-spin-button,
*[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

.tac {
  margin: 0;
  text-align: center;
}

// Додаємо стилі для тексту
h1,
h2,
h3,
h4,
h5,
h6,
.modal-title,
.counter,
.btn {
  font-weight: 400;
}

.material-symbols-outlined {
  font-weight: 600;
}